* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
}

header {
  height: 3.8rem;
  background-color: #d1891c;
  padding: 1rem;
}

header p {
  font-size: 1.5rem;
}

nav {
  width: 100vw;
  height: 10.1rem;
  background-color: #00669f;
  padding: 2.8rem;
  z-index: 10;
  position: sticky;
  top: 0;
  display: inline-block;
}

nav h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #ffff;
}

.cards-heroes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 13.4rem 1.2rem;
}

.heroe {
  margin: 2rem;
}

.fondo {
  height: 19.3rem;
  position: relative;
  width: 30rem;
  border-radius: 1.6rem 1.6rem 0 0;
  background-size: cover;
}

.fa-heart {
  color: #cc2424;
  font-size: 3rem;
  position: absolute;
  top: 1.588rem;
  left: 2.1rem;
}

.heroe img {
  border-radius: 50%;
  height: 11.8rem;
  left: 9rem;
  position: absolute;
  top: 12.6rem;
  width: 12rem;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  height: 33.6rem;
  background-color: #f3f3f3;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.contenido h2 {
  margin: 7.4rem 0 1rem 0;
  font-size: 2.5rem;
}

.contenido p {
  margin: 0 1.6rem 0 1.6rem;
  font-style: normal;
  font-size: 1.4rem;
}

.contenido button {
  background-color: #00669f;
  height: 4.852rem;
  width: 12.878rem;
  margin: 3.7rem 0 1.8rem 0;
  border: none;
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffff;
}

footer {
  height: 5.1rem;
  background-color: #00669f;
  padding: 1.6rem 0 1.6rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: calc(100vh - 5.1rem);
}

footer .derechos {
  color: #ffff;
  font-size: 1.6rem;
  font-weight: 400;
}

footer img {
  position: absolute;
  right: 5%;
  height: 2.5rem;
}

@media (max-witdh: 481) {
  nav h1 {
    font-size: 1rem;
  }

  .contenido {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    height: 8rem;
  }

  footer img {
    position: static;
    margin-top: 1rem;
  }
}

@media (max-witdh: 768) {
  .contenido {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-witdh: 1279px) {
  .contenido {
    flex-direction: row;
  }
}

@media (max-witdh: 1280px) {
  .contenido {
    flex-direction: row;
  }
}

/* @media (max-width: 650px) {

  .main__title {
      font-size: 2.5rem;
  }

  .footer {
      flex-direction: column;
      height: 8rem;
      top: calc( 100vh - 8rem );
  }

  .footer__logo {
      position: static;
      margin-top: 1rem;
  }

} */
